{% extends 'base.html.twig' %}

{% block title %}Wish Detail - Bucket List{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <main>
        {{ form(wish_form) }}
    </main>
{% endblock %}
