{% extends 'base.html.twig' %}

{% block title %}Wishes list - Bucket List{% endblock %}

{% block body %}
    <main>
        <h1>La liste des buckets de la bucket-list !</h1>
        <div class="wish-list">
            {% for wish in wishes %}
                <div class="wish-container" data-controller="hello">
                    <a href="{{ path('wish_detail', {'id' : wish.id}) }}">
                        <div class="wish">
                            {{ wish.title }}
                            <div class="wish-category">
                                ({{ wish.category.name }})
                            </div>
                        </div>
                    </a>
                    <button class="validate-wish" data-action="click->hello#rayer mouseover->hello#checkWishState mouseout->hello#checkWishState">✗</button>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
